# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
build/

# Venv
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# Logs / runtime
*.log
logs/
*.sqlite*
*.db
*.bak

# Windows
Thumbs.db
Desktop.ini
