psutil
bcrypt
Pillow
setproctitle

# Solo Windows:
winsdk; platform_system == "Windows"
pywin32; platform_system == "Windows"
win10toast; platform_system == "Windows"
winotify; platform_system == "Windows"
